<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <title><%= title %></title>
    
</head>
<body>
    
        <nav>
            <h2 id="logo"> <a href=""><%= title %></a> </h2>
            
            
            <a id="logOut" href="">Log Out</a>

        </nav>

        <div id="scheduleBox" class="schedule">
            <div class="userBox">
                <div class="userContainer">
                    <div id="userP" class="user"> </div>
                    <p>User Name</p>
                </div>    
                    
                <div class="userContainer">
                    <div id="userP" class="user"> </div>
                    <p>User Name</p>
                </div> 
                
                <div class="userContainer">
                    <div id="userP" class="user"> </div>
                    <p>User Name</p>
                </div> 

            </div>    

            <h1 class="scheduleTitle"> Week Schedule</h1>


            <div class="taskContainer">
                <% for (let i =0; i < days.length; i++) { %>
               <div class="taskBox">
               <div class="addBtn"><a href="/days/<%= days[i]._id %>/tasks/new">Add Task</a> </div>
               <div class="dayOfWeek"><%= days[i].day.toUpperCase()%></div>
               <% days[i].tasks.forEach(task => { %>
               <div class="taskCard"><a href="/days/<%= days[i]._id %>/tasks/<%= task._id %>"><%= task.task %></a></div>
               <% }) %>
            </div>
               <% } %> </div>
                <!-- <table>
                    <tr>
                        <% days.forEach(day => {  %>
                            <th class="addBtn"><a href="/days/<%= day._id %>/tasks/new">Add </a></th>
                             <%  }) %>
                        
                         
                    </tr>
                    <tr>
                        <th>Monday</th>
                        <th>Tuesday</th>
                        <th>Wednesday</th>
                        <th>Thursday</th>
                        <th>Friday</th>
                        <th>Saturday</th>
                        <th>Sunday</th>
                    </tr>
                    
                    
                </table>
                <div class="taskContainer">
                    <div class="taskBox">
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                    </div>

                    <div class="taskBox">
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                    </div>

                    <div class="taskBox">
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                    </div>

                    <div class="taskBox">
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                    </div>

                    <div class="taskBox">
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                    </div>

                    <div class="taskBox">
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                    </div>

                    <div class="taskBox">
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                        <div class="taskCard"></div>
                    </div>
                    

                </div> -->
            
            

        </div>

        
    <footer><%= title %> © 2021</footer>



    
</body>
</html>