<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <title>myTurn</title>
    
</head>
<body>
    
        <nav>
            <h2 id="logo"> <a href="">myTurn</a> </h2>
            
            <a id="signIn" href="">Log In</a>
            <a id="logIn" href="">Sign In</a>

        </nav>

        <div class="wrapper">
            <div class="textDisplay">
                <h1><%= day.day.toUpperCase() %></h1>  
                <h2><%= task.task %></h2>
                <h3><%= task.details %></h3>
            </div>
            <div id="detailsBox" class="detailsContainer">
                <h3>Edit Task</h3>
                    <h1><%= day.task %></h1>
                    <h3><%= day.details %></h3>
                <form action="/days/<%= day._id %>/tasks/<%= task._id %>?_method=PUT" method="POST" autocomplete="on">
                    <label>Task<input type="text" name="task" placeholder="Task" value="<%= task.task %>" /></label>
                    <label>Details<input type="text" name="details" placeholder="Details" value="<%= task.details %>"/></label>
                    <button type="submit">Submit Change</button>
                </form>
            
                <form
                    action="/days/<%= day._id %>/tasks/<%= task._id %>?_method=DELETE"
                    class="delete-form"
                    method="POST"
                    >
                    <button type="submit">Delete Task</button>
                    </form>
            </div>
        </div>

        
    <footer>myTurn © 2021</footer>



    
</body>
</html>