<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <title><%= title %></title>
    
</head>
<body>
    
        <nav>
            <h2 id="logo"> <a href=""><%= title %></a> </h2>
            
            <a id="signIn" href="">Log In</a>
            <a id="logIn" href="">Sign In</a>

        </nav>
        <div class="textDisplay">
            <h1><%= day.day.toUpperCase() %></h1>
        </div>
        <div id="newBox" class="newContainer">
            <h3>Add Task</h3>

            <form action="/days/<%= day._id %>/tasks" method="POST" autocomplete="on">
                <label >Task<input type="text" name="task" placeholder="New Task" /></label>
                <label>Details<input type="text" name="details" placeholder="Details"/></label>
                <button type="submit">Save Task</button>

        </div>

        
    <footer><%= title %> © 2021</footer>



    
</body>
</html>